name: build

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '*.txt'
      - '.gitignore'
      - 'docs/*'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '*.txt'
      - '.gitignore'
      - 'docs/*'
  release:
    types: [published]

  workflow_dispatch:

jobs:
  ubuntu-x86:
    name: ${{ matrix.btype }} Ubuntu ${{ matrix.arch }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        arch: [x86, x86_64]
        cc: [gcc]
        btype: [Release, Debug]
        include:
          - btype: Release
            rule: install

          - btype: Debug
            if: ${{ github.event_name != 'release' }}
            rule: debug

          - arch: x86
            use_sdl: USE_SDL=0

          - arch: x86_64
            use_sdl: USE_SDL=1

    steps:

    - name: Install tools
      run: |
        if [ ${{ matrix.arch }} == "x86" ]; then
          sudo dpkg --add-architecture i386
          sudo apt-get -qq update
          sudo apt-get -y install gcc-multilib libcurl4-openssl-dev:i386 mesa-common-dev:i386 libxxf86dga-dev:i386 libxrandr-dev:i386 libxxf86vm-dev:i386 libasound-dev:i386
        else
          sudo apt-get -qq update
          sudo apt-get -y install libcurl4-openssl-dev mesa-common-dev libxxf86dga-dev libxrandr-dev libxxf86vm-dev libasound-dev libsdl2-dev
        fi

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      if: ${{ github.event_name != 'release' || matrix.btype != 'Debug' }} # skip in Release builds
      run: |
        make ${{ matrix.rule }} -j$(nproc) ARCH=${{ matrix.arch }} COMPILE_ARCH=${{ matrix.arch }} CC=${{ matrix.cc }} DESTDIR=bin ${{ matrix.use_sdl }} USE_RENDERER_DLOPEN=0 RENDERER_DEFAULT=vulkan CNAME=quake3e-vulkan BUILD_SERVER=0
        make clean ARCH=${{ matrix.arch }} 
        make ${{ matrix.rule }} -j$(nproc) ARCH=${{ matrix.arch }} COMPILE_ARCH=${{ matrix.arch }} CC=${{ matrix.cc }} DESTDIR=bin ${{ matrix.use_sdl }} USE_RENDERER_DLOPEN=0 RENDERER_DEFAULT=opengl

    - uses: actions/upload-artifact@v4
      if: matrix.cc == 'gcc' && matrix.btype == 'Release'
      with:
        name: linux-${{ matrix.arch }}
        path: bin
        if-no-files-found: error
        retention-days: 5

  create-testing:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    needs: [ubuntu-x86]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Create binary archives
        run: |
          7z a -r quake3e-linux-x86.zip            ./linux-x86/*
          7z a -r quake3e-linux-x86_64.zip         ./linux-x86_64/*
#         7z a -r quake3e-linux-arm64.zip          ./linux-arm64/*
#         7z a -r quake3e-windows-mingw-x86.zip    ./windows-mingw-x86/*
#         7z a -r quake3e-windows-mingw-x86_64.zip ./windows-mingw-x86_64/*
#         7z a -r quake3e-windows-msvc-arm64.zip   ./windows-msvc-arm64/*
#         7z a -r quake3e-macos-x86_64.zip         ./macos-x86_64/*
#         7z a -r quake3e-macos-aarch64.zip        ./macos-aarch64/*
#         7z a -r quake3e-linux-aarch64.zip        ./linux-aarch64/*
#         7z a -r quake3e-linux-armv7.zip          ./linux-armv7/*
#         7z a -r quake3e-windows-msvc-x86.zip     ./windows-msvc-x86/*
#         7z a -r quake3e-windows-msvc-x86_64.zip  ./windows-msvc-x86_64/*

      - name: Create latest build
        uses: czietz/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: "latest"
          prerelease: false
          title: Latest Build
          files: |
            *.zip

  update-release:
    if: ${{ github.event_name == 'release' }}
    needs: [ubuntu-x86]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
#         - artifact_dir: linux-aarch64
#           artifact_name: quake3e-linux-aarch64.zip

#         - artifact_dir: linux-armv7
#           artifact_name: quake3e-linux-armv7.zip

          - artifact_dir: linux-x86
            artifact_name: quake3e-linux-x86.zip

          - artifact_dir: linux-x86_64
            artifact_name: quake3e-linux-x86_64.zip

#          - artifact_dir: linux-arm64
#            artifact_name: quake3e-linux-arm64.zip

#          - artifact_dir: windows-mingw-x86
#            artifact_name: quake3e-windows-x86.zip 

#          - artifact_dir: windows-mingw-x86_64
#            artifact_name: quake3e-windows-x86_64.zip

#          - artifact_dir: windows-msvc-arm64
#            artifact_name: quake3e-windows-arm64.zip

#          - artifact_dir: macos-x86_64
#            artifact_name: quake3e-macos-x86_64.zip

#          - artifact_dir: macos-aarch64
#            artifact_name: quake3e-macos-aarch64.zip

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Create archive
        run: 7z a -r ${{ matrix.artifact_name }} ./${{ matrix.artifact_dir }}/*

      - name: Upload archive
        uses: "svenstaro/upload-release-action@latest"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          overwrite: true
          file: ${{ matrix.artifact_name }}
