name: build

on:
  push:
    branches:
      - main
  workflow_dispatch:
  release:
    types: [published]

jobs:
  ubuntu-x64:
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -y install libcurl4-openssl-dev mesa-common-dev \
              libxxf86dga-dev libxrandr-dev libxxf86vm-dev libasound-dev libsdl2-dev

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Release
        run: |
          make install -j$(nproc) ARCH=x86_64 COMPILE_ARCH=x86_64 CC=gcc DESTDIR=bin USE_SDL=1 \
              USE_RENDERER_DLOPEN=0 RENDERER_DEFAULT=vulkan CNAME=quake3e-vulkan BUILD_SERVER=0
          make clean ARCH=x86_64
          make install -j$(nproc) ARCH=x86_64 COMPILE_ARCH=x86_64 CC=gcc DESTDIR=bin USE_SDL=1 \
              USE_RENDERER_DLOPEN=0 RENDERER_DEFAULT=opengl2 USE_OPENGL2=1

      - uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64
          path: bin
          if-no-files-found: error
          retention-days: 5

  create-release:
    needs: [ubuntu-x64]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4

      - name: Create archive
        run: 7z a -r quake3e-linux-x86_64.zip ./linux-x86_64/*

      - name: Upload archive to latest release
        uses: czietz/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: "latest"
          prerelease: false
          title: Latest Build
          files: quake3e-linux-x86_64.zip

  update-release:
    if: ${{ github.event_name == 'release' }}
    needs: [ubuntu-x64]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4

      - name: Create archive for release
        run: 7z a -r quake3e-linux-x86_64.zip ./linux-x86_64/*

      - name: Upload archive to GitHub release
        uses: svenstaro/upload-release-action@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          overwrite: true
          file: quake3e-linux-x86_64.zip
